*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#1e293b;
    position:sticky;
    top:0;
}

nav h2{
    color:#38bdf8;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav li{
    cursor:pointer;
}

.hero{
    min-height:80vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:20px;

    text-align:center;
}

.hero p{
    font-size:22px;
}

.hero button{
    width:180px;
}

section{
    padding:60px;
}

h1{
    font-size:50px;
}

button{
    margin-top:20px;
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:#38bdf8;
    cursor:pointer;
}

.skills-container,
.projects-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

.skill-card,
.project-card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    min-width:200px;
}

.project-card{
    width:300px;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;
    width:400px;
    margin-top:20px;
}

.contact-form input,
.contact-form textarea{
    padding:12px;
    border:none;
    border-radius:8px;
}

.contact-form textarea{
    height:120px;
}