*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,sans-serif;

    background:#051033;

    color:white;

}

/* Navbar */

nav{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 50px;

}

/* Main App */

.App{

    width:100%;

}

/* Sections */

section{

    width:100%;

    max-width:1200px;

    margin:auto;

    padding:60px 20px;

    text-align:center;

}

h2{

    margin-bottom:30px;

}

/* Hero */

.hero{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:20px;

}

/* Skills */

.skills-container{

    display:flex;

    justify-content:center;

    align-items:center;

    flex-wrap:wrap;

    gap:20px;

}

.skill-card{

    width:220px;

    background:#1d2945;

    padding:25px;

    border-radius:12px;

}

/* Projects */

.projects-container{

    display:flex;

    justify-content:center;

    align-items:center;

    flex-wrap:wrap;

    gap:25px;

}

.project-card{

    width:320px;

    background:#1d2945;

    padding:25px;

    border-radius:12px;

}

/* Contact */


#contact{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

}

.contact-form{

    width:100%;

    max-width:600px;

    margin:auto;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:20px;

}

.contact-form input,

.contact-form textarea{

    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

}

.contact-form button{

    width:200px;

    padding:12px;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

/* Buttons */

button{

    padding:12px 25px;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

html{

scroll-behavior:smooth;

}

nav{

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 50px;

}

nav ul{

display:flex;

gap:25px;

list-style:none;

}

nav a{

text-decoration:none;

color:white;

}

.hero{

display:flex;

flex-direction:column;

align-items:center;

gap:20px;

}

.skills-container{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

}

.projects-container{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

#contact{

display:flex;

flex-direction:column;

align-items:center;

}

.contact-form{

width:100%;

max-width:600px;

display:flex;

flex-direction:column;

gap:20px;

align-items:center;

}

.contact-form input,
.contact-form textarea{

width:100%;

padding:14px;

}